:root {
   scrollbar-color: rgba($white, 0.6) rgba($clr-body, 0.5);
   scrollbar-width: thin;
}

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;

   &:before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
   }

   &:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
   }
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: "Josefin Sans", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   font-weight: normal;
   margin: 0;
   padding: 0;
   font-size: 16px;
   line-height: 1;
   overflow-x: hidden;
   background-color: $clr-body;
}

// body scrollbar
::-webkit-scrollbar {
   width: 5px;
}

::-webkit-scrollbar-track {
   background: rgba($clr-body, .5);
}

::-webkit-scrollbar-thumb {
   background: rgba($white, .6);
   border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
   background: rgba($white, .75);
}

img {
   max-width: 100%;
}

.mb-32 {
   margin-bottom: 32px;
}

.object-fit-cover {
   object-fit: cover;
}

.layout-wrapper {
   display: flex;
   height: 100vh;
   align-items: stretch;
   font-family: "Josefin Sans", sans-serif;
}

.lw-app-content {
   position: relative;
   display: flex;
   flex-direction: column;
   flex: 1;
   // padding: 48px 70px 30px;
   padding: 0;
   font-family: "Josefin Sans", sans-serif;
   height: 100vh;
   overflow: hidden;
   overflow-y: auto;
}

.page-navigation {
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   font-size: 20px;
   color: rgba($clr-arrow-icon, .50);
   margin: 0 8px 0 0;

   &:hover,
   &.active {
      color: $clr-acent;
   }
}

.lw-main-header-menu {
   font-family: "Josefin Sans", sans-serif;
   position: relative;
   display: flex;
   align-items: center;
   padding: 0 70px 48px;
   position: sticky;
   top: 136px;
   background-color: $clr-body;
   z-index: 99;

   @media($extra-large-desktops) {
      padding: 0 40px 40px;
      top: 108px;
   }

   h4 {
      font-family: "Josefin Sans", sans-serif;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      color: $white;
      margin: 0 80px 0 0;

      @media($extra-large-desktops) {
         font-size: 30px;
         line-height: 38px;
         margin: 0 60px 0 0;
      }
   }

   .lw-menu-link {
      font-family: "Josefin Sans", sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: rgba($white, .60);
      text-transform: capitalize;
      margin: 0 30px 0 0;
      padding: 0;
      position: relative;

      @media($extra-large-desktops) {
         font-size: 20px;
         line-height: 24px;
         margin: 0 25px 0 0;
      }

      &:last-child {
         margin: 0;
      }

      &::after {
         content: "";
         position: absolute;
         top: 100%;
         margin: 8px 0 0;
         left: 50%;
         display: block;
         transform: translateX(-50%);
         width: 30px;
         height: 3px;
         border-radius: 3px;
         background: $clr-primary-gradient;
         display: none;
      }

      &.active,
      &:hover {
         background: $clr-primary-gradient;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;

         &::after {
            display: block;
         }
      }
   }
}

.content-wrapper {
   position: relative;
   padding: 0 70px;

   @media($extra-large-desktops) {
      padding: 0 40px;
   }
}

.lnkBlue {
   background: $clr-primary-gradient;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   font-weight: 500;
   font-size: 20px;
   line-height: 30px;
   text-decoration: none;
   position: relative;
   transition: 0.2s ease-out;

   @media($extra-large-desktops) {
      font-size: 18px;
      line-height: 24px;
   }

   &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 5px;
      width: 100%;
      height: 1px;
      background: $clr-primary-gradient;
      transition: 0.2s ease-out;
   }

   &:hover {
      background: $clr-hover-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      &::after {
         background: $clr-hover-gradient;
         transform: scaleX(0);
      }
   }
}